#ddi-logo{
    }

#ddi-logo .logo-img{
margin-left: auto;
    display: block;
    margin-right: auto;
    padding: 15px;
    width: 300px;
}
body {
  background: #e4ecf0;
  font-family: 'Roboto', sans-serif;
}
#container {
  width: 400px;
  max-width: 90%;
  padding-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.6);
  box-shadow: -1px 1px 6px rgba(0,0,0,0.15);
  border-radius: 8px;
}
h1 {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.5em;
  color: #444f54;
}
h2 {
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  margin-bottom: 2em;
  color: #14A586;
}
.panel {
  padding: 30px 30px 20px;
  border-top: 1px solid rgba(80,80,80,0.1);
}
.label {
  position: relative;
  display: inline-block;
  font-size: 30px;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding-left: 100px;
  cursor: pointer;
  font-weight: 600;
}
.label:before,
.label:after {
  content: '';
  display: block;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  transition: all 0.7s ease;
}
.label:before {
  width: 60px;
  height: 18px;
  border-radius: 9px;
  background-color: #aaa;
  left: 0;
}
.label:after {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  left: -5px;
}
input[type=radio] {
  opacity: 0;
  display: none;
}
.label.active:after {
  left: 35px;
}
.label-good.active:before {
  background-color: #79a16d;
}
.label-good.active:after {
  background-color: #6dbe56;
}
.label-cheap.active:before {
  background-color: #6d7ea1;
}
.label-cheap.active:after {
  background-color: #5574bd;
}
.label-fast.active:before {
  background-color: #a26d74;
}
.label-fast.active:after {
  background-color: #bd5562;
}
